New Topics:

 - Resources for help with coding 
 - Creating a reproducible workflow
 - Merging _pandas_ DataFrames
 - Additional _pandas_ methods 
 

Coding Tasks:

Start a new Jupyter Notebook to complete these tasks. This week, you'll be combining two different datasets.

First, you'll work with a dataset containing the number of primary care physicians per county for each county in the United States. It was obtained from the Area Health Resources File, published by the [Health Resources and Services Administration](https://data.hrsa.gov/topics/health-workforce/ahrf). This data is contained in the file `primary_care_physicians.csv`.

Second, the file `population_by_county.csv` contains the Census Bureau's 2019 population estimates for each US County. It also contains a column `urban`. The `urban` column uses data from the National Bureau of Economic Research to classify each county as either urban or rural. The U.S. Office of Management and Budget designates counties as metropolitan (a core urban area of 50,000 or more population), micropolitan (an urban core of at least 10,000 but less than 50,000 population), or neither. Here, a county is considered "urban" if it is part of a metropolitan or micropolitan area and "rural" if it is not.

 1. First, import the primary care physicians dataset (`primary_care_physicians.csv`) into a data frame named `physicians`. 
 2. Filter `physicians` down to just the counties in Tennessee. Save the filtered dataframe back to `physicians`. Verify that the resulting dataframe has 95 rows.
 3. Look at the distribution of the number of primary care physicians. What do you notice?
 4. Now, import the population by county dataset (`population_by_county.csv`) into a DataFrame named `population`.
 5. Merge the `physicians` DataFrame with the `population` DataFrame. Keep only the values for Tennessee. When you merge, be sure the include both the `population` and `urban` columns in the merged results. Save the result of the merge back to `physicians`.
 6. How many Tennessee counties are considered urban?
 7. The State Health Access Data Assistance Center (SHADAC) (https://www.shadac.org/) classifies counties into three groups based on the number of residents per primary care physician. First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply. Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply. How many counties in Tennessee are in each group? 
 8. Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?

In [44]:
import pandas as pd
physicians = pd.read_csv('../data/primary_care_physicians.csv')
physicians

       FIPS              state      county  primary_care_physicians
0      1001            Alabama     Autauga                     26.0
1      1003            Alabama     Baldwin                    153.0
2      1005            Alabama     Barbour                      8.0
3      1007            Alabama        Bibb                     12.0
4      1009            Alabama      Blount                     12.0
...     ...                ...         ...                      ...
3225  72151        Puerto Rico     Yabucoa                      5.0
3226  72153        Puerto Rico       Yauco                     43.0
3227  78010  US Virgin Islands   St. Croix                     14.0
3228  78020  US Virgin Islands    St. John                      1.0
3229  78030  US Virgin Islands  St. Thomas                     28.0

[3230 rows x 4 columns]

In [45]:
physicians = physicians.loc[physicians["state"] == "Tennessee"]
physicians

       FIPS      state      county  primary_care_physicians
2432  47001  Tennessee    Anderson                     39.0
2433  47003  Tennessee     Bedford                     15.0
2434  47005  Tennessee      Benton                      3.0
2435  47007  Tennessee     Bledsoe                      1.0
2436  47009  Tennessee      Blount                     90.0
...     ...        ...         ...                      ...
2522  47181  Tennessee       Wayne                      5.0
2523  47183  Tennessee     Weakley                     18.0
2524  47185  Tennessee       White                      9.0
2525  47187  Tennessee  Williamson                    338.0
2526  47189  Tennessee      Wilson                     43.0

[95 rows x 4 columns]

In [46]:
physicians.shape

(95, 4)

In [85]:
population = pd.read_csv('../data/population_by_county.csv')
population

       FIPS  population           county       state  urban
0     17051       21565   Fayette County    ILLINOIS  Rural
1     17107       29003     Logan County    ILLINOIS  Rural
2     17165       23994    Saline County    ILLINOIS  Rural
3     17097      701473      Lake County    ILLINOIS  Urban
4     17127       14219    Massac County    ILLINOIS  Rural
...     ...         ...              ...         ...    ...
3197  47033       14399  Crockett County   TENNESSEE  Rural
3198  47095        7401      Lake County   TENNESSEE  Rural
3199  47093      461104      Knox County   TENNESSEE  Urban
3200  53005      197518    Benton County  WASHINGTON  Urban
3201  53011      473252     Clark County  WASHINGTON  Urban

[3202 rows x 5 columns]

In [68]:
population.shape

(3202, 5)

In [94]:
population = population.loc[population["state"] == "TENNESSEE"]
population.shape

(95, 5)

In [87]:
population

       FIPS  population            county      state  urban
283   47165      183437     Sumner County  TENNESSEE  Urban
284   47169       10231  Trousdale County  TENNESSEE  Urban
285   47027        7654       Clay County  TENNESSEE  Rural
405   47157      936374     Shelby County  TENNESSEE  Urban
406   47077       27977  Henderson County  TENNESSEE  Rural
...     ...         ...               ...        ...    ...
3195  47123       46064     Monroe County  TENNESSEE  Rural
3196  47079       32284      Henry County  TENNESSEE  Rural
3197  47033       14399   Crockett County  TENNESSEE  Rural
3198  47095        7401       Lake County  TENNESSEE  Rural
3199  47093      461104       Knox County  TENNESSEE  Urban

[95 rows x 5 columns]

In [96]:
population['state'].str.lower()
population

       FIPS  population            county      state  urban
283   47165      183437     Sumner County  TENNESSEE  Urban
284   47169       10231  Trousdale County  TENNESSEE  Urban
285   47027        7654       Clay County  TENNESSEE  Rural
405   47157      936374     Shelby County  TENNESSEE  Urban
406   47077       27977  Henderson County  TENNESSEE  Rural
...     ...         ...               ...        ...    ...
3195  47123       46064     Monroe County  TENNESSEE  Rural
3196  47079       32284      Henry County  TENNESSEE  Rural
3197  47033       14399   Crockett County  TENNESSEE  Rural
3198  47095        7401       Lake County  TENNESSEE  Rural
3199  47093      461104       Knox County  TENNESSEE  Urban

[95 rows x 5 columns]